@import 'compass'
@import 'compass/reset'

$text-size-large: 10em
$text-size-medium: 4em
$text-size-small: 3em
$text-size-tiny: 1.5em

$de-emph-opacity: 0.6

$color-1: hsl(320, 60%, 40%)
$color-2: hsl(320, 60%, 30%)

body
    background-color: hsl(320, 60%, 20%)
    color: white
    text-transform: lowercase

// COMPONENT Grid System
#container
    font-family: 'Helvetica Neue', sans-serif
    font-weight: 500
    width: 100%
    clear: both

[class*="component"]
    height: 33.33%
    float: left

.component-large
    width: 75%

.component-medium
    width: 50%

.component-small
    width: 25%

// Component styles
#time-and-date
    text-align: center
    margin: auto
    background-color: $color-1

    #time
        font-size: $text-size-large
        font-weight: 800
        margin-top: 0.5rem

    #date
        margin-top: 1rem
        font-size: $text-size-medium

#weather
    text-align: center
    margin: auto
    background-color: $color-2

    #weather-temp
        font-size: $text-size-medium
        font-weight: 800
        margin-top: 4.5rem

    #weather-highLow
        font-size: $text-size-small
        margin-top: 1rem
        opacity: $de-emph-opacity

#news
    background-color: $color-1

    div
        padding: 1.8rem

        .feed-item-title
            font-size: $text-size-tiny

            & + .feed-item-title
                margin-top: 1.5rem

            a
                color: white
                text-decoration: none

            &:nth-child(2), &:nth-child(4)
                opacity: $de-emph-opacity

    .rss2html-note, .rss2html-note-clear
        display: none