@import 'compass'
@import 'compass/reset'

$text-size-large: 10em
$text-size-medium: 4em
$text-size-small: 3em

$de-emph-opacity: 0.6

body
    background-color: hsl(320, 60%, 20%)
    color: white
    text-transform: lowercase

// COMPONENT Grid System
#container
    font-family: 'Helvetica Neue', sans-serif
    font-weight: 500
    width: 100%
    clear: both

[class*="component"]
    height: 20rem
    float: left

.component-large
    width: 100%

.component-medium
    width: 50%

.component-small
    width: 25%

// Component styles
#time-and-date
    text-align: center
    margin: auto
    background-color: hsl(320, 60%, 40%)

    #time
        font-size: $text-size-large
        font-weight: 800
        margin-top: 0.5rem

    #date
        font-size: $text-size-medium

    #greeting
        font-size: $text-size-small
        margin-top: 0.5rem
        opacity: $de-emph-opacity

#weather
    text-align: center
    margin: auto
    background-color: hsl(320, 60%, 30%)

    #weather-temp
        font-size: $text-size-medium
        font-weight: 800
        margin-top: 5.5rem

    #weather-highLow
        font-size: $text-size-small
        margin-top: 1rem
        opacity: $de-emph-opacity