@import 'compass'
@import 'compass/reset'

$text-size-large: 9rem
$text-size-medium: 3.5rem
$text-size-small: 2.5rem
$text-size-tiny: 1.3rem

$de-emph-opacity: 0.6

body
    background-color: white
    color: black
    font-family: "Helvetica Neue", "Helvetica", sans-serif //until I can find something better

#time-and-date
    float: right
    text-align: right
    margin: 3rem 5rem 0 0
    #time
        font-size: $text-size-medium
        font-weight: 600
        .meridian
            margin-left: 1rem
            font-size: $text-size-small
            font-weight: 600

    #date
        margin-top: 0.5rem
        font-size: $text-size-small
        font-weight: 400

#weather
    display: none
    margin-top: 5rem
    #weather-temp
        font-size: $text-size-large
        font-weight: 900

    #weather-condition
        font-size: $text-size-small
        font-weight: 600

    #weather-highLow
        font-size: $text-size-small
        font-weight: 600
        margin-top: 1rem

#news
    display: none
    margin-top: 5rem

    #news-title
        font-size: $text-size-small
        font-weight: 300
    #news-ticker
        margin-top: 1rem
        font-size: $text-size-tiny
        font-weight: 300
        line-height: 2rem